<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="" class="nav-link">
                Accueil
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="auth" class="nav-link">
                Authentification
            </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="posts" class="nav-link">Posts</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>


