<div class="post" [ngClass]="{'list-group-item-success': post.loveIts > 0, 'list-group-item-danger': post.loveIts < 0}">
    <h2>{{ post.title }}</h2>
    <div class="content">
        {{ post.content }}
    </div>
    <div class="text-right">
        {{ post.createdAt | date: ' dd MMMM y' }}
    </div>

    <div class="actions text-left">
        <input type="button" class="btn btn-success" (click)="itsCool(indexPost)" value="Love it !" />
        <input type="button" class="btn btn-danger" (click)="itsBad(indexPost)" value="Don't love it !" />
    </div>
</div>
