<h1 class="container">
    Blog de {{ siteTitle }}
</h1>

<div class="container">
    <h2 class="text-center">Articles</h2>

    <div class="list-group">
        <app-post-list-item *ngFor="let post of posts; let i = index"
                            [post]="post" [indexPost]="i"
        >
        </app-post-list-item>
    </div>
</div>
